# Data Wrangling

Working on the saved dataset to make the dataset more understandable and easier to extract insights from. 

Basically, I worked on the following aspects : 

1. Handling Missing Values

2. Correcting the data format

3. Standardizing and Normalizing the numerical data

4. Binning data into categories

In [1]:
# importing the required modules
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
df = pd.read_csv("car-data.csv")
df.head(10)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
1,1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
2,2,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
3,3,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
4,4,2,NaN,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250
5,5,1,158.0,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710
6,6,1,NaN,audi,gas,std,four,wagon,fwd,front,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920
7,7,1,158.0,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875
8,9,2,192.0,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16430
9,10,0,192.0,bmw,gas,std,four,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101.0,5800.0,23,29,16925

In [3]:
# removing the extra column 
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250

### Working on Missing Data
First, we'll identify the amount of missing data

In [4]:
missing_df = df.isnull()
missing_df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
# To get the summary about missing data
for column in missing_df.columns.to_list():
    print(column)
    print(missing_df[column].value_counts(), '\n')

symboling
False    200
Name: symboling, dtype: int64

normalized-losses
False    164
True      36
Name: normalized-losses, dtype: int64

make
False    200
Name: make, dtype: int64

fuel-type
False    200
Name: fuel-type, dtype: int64

aspiration
False    200
Name: aspiration, dtype: int64

num-of-doors
False    198
True       2
Name: num-of-doors, dtype: int64

body-style
False    200
Name: body-style, dtype: int64

drive-wheels
False    200
Name: drive-wheels, dtype: int64

engine-location
False    200
Name: engine-location, dtype: int64

wheel-base
False    200
Name: wheel-base, dtype: int64

length
False    200
Name: length, dtype: int64

width
False    200
Name: width, dtype: int64

height
False    200
Name: height, dtype: int64

curb-weight
False    200
Name: curb-weight, dtype: int64

engine-type
False    200
Name: engine-type, dtype: int64

num-of-cylinders
False    200
Name: num-of-cylinders, dtype: int64

engine-size
False    200
Name: engine-size, dtype: int64

fuel-system
False    200
Name: fuel-system, dtype: int64

bore
False    196
True       4
Name: bore, dtype: int64

stroke
False    196
True       4
Name: stroke, dtype: int64

compression-ratio
False    200
Name: compression-ratio, dtype: int64

horsepower
False    198
True       2
Name: horsepower, dtype: int64

peak-rpm
False    198
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    200
Name: city-mpg, dtype: int64

highway-mpg
False    200
Name: highway-mpg, dtype: int64

price
False    200
Name: price, dtype: int64

Replacing data for normalised-losses, stroke, bore, horsepower, peak-rpm with the mean in their respective columns. 

I replaced the 'num-of-doors' attribute by frequency of data in that column, as it is the most likely to occur.

For the price column, we already eliminated the whole row because price is the target and it is not used for prediction. The unavailability of such data is useless.

In [6]:
# replacing missing normalized loss data with mean
avg_norm_loss = df['normalized-losses'].astype('float').mean(axis=0)
df['normalized-losses'].replace(np.NaN, avg_norm_loss, inplace=True)

In [7]:
# similarly, doing it for stroke, peak-rpm, horsepower and bore
avg_stroke = df['stroke'].astype('float').mean(axis=0)
df['stroke'].replace(np.NaN, avg_stroke, inplace=True)

# This can also be done in a single line
df['bore'] = df['bore'].replace(np.NaN, df['bore'].astype("float").mean(), inplace=True)
df['horsepower'] = df['horsepower'].replace(np.NaN, df['horsepower'].astype("float").mean(), inplace=True)
df['peak-rpm'] = df['peak-rpm'].replace(np.NaN, df['peak-rpm'].astype("float").mean(), inplace=True)

Now,replacing num-of-doors values with the mot frequent value for that attribute.

In [8]:
df['num-of-doors'].value_counts()

four    113
two      85
Name: num-of-doors, dtype: int64

In [10]:
#replacing NANs with 'four'
df['num-of-doors'].replace(np.nan, 'four', inplace=True)

In [11]:
df['num-of-doors'].value_counts()

four    115
two      85
Name: num-of-doors, dtype: int64

### Data Formatting
I worked on the data formats of the respective columns and converted into the required formats for further analysis. Also, for some columns pandas labels them with the wrong datatypes so I changed datatypes.